= link_to content_tag(:span,"",class: "ui-icon ui-icon-triangle-1-w"), operations_client_path(@client)
%br
%h1= @client.fio unless @client.nil?
%br
%h2 Льготы
%br

-unless flash.empty?
  %p#notice= notice


-if @benefits.count > 0 
  %table#newspaper-a
    %tr
      %th Категория льготы
      %th Документ
      %th Основная льгота
      %th
      %th

    - @benefits.each do |benefit|
      %tr
        %td= benefit.benefit_category
        %td= benefit.document
        %td= benefit.primary_benefit?

        %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-pencil"),edit_client_benefit_path(@client,benefit)
        %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-minus") , client_benefit_path(@client,benefit), :confirm => 'Are you sure?', :method => :delete
-else
  =render "clients/empty"

%br

= link_to t(:new_record), new_client_benefit_path 



