%div#prof
  %h2=items[0].actual_date.year unless items.nil? or items.count <= 0
  %table#newspaper-a
    %tr
      %th Врач
      %th Дата
      %th МКБ
      %th Стат. талон
      %th ФИО врача
      
    -items.each do |prof_inspection|
      %tr  
        %td= prof_inspection.user.doctor_type.name
        %td= l prof_inspection.actual_date
        %td= render :partial =>'clients/operations/mkb',:locals => {:diagnoses => prof_inspection.diagnoses}
        %td= content_tag(:span,"",class: "ui-icon ui-icon-check") if  prof_inspection.stat_card
        %td= prof_inspection.user.short_fio 

