= form_for @ref_mkb do |f|
  -if @ref_mkb.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ref_mkb.errors.count, "error")} prohibited this ref_mkb from being saved:"
      %ul
        - @ref_mkb.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :code
    = f.text_field :code
  .actions
    = f.submit 'Save'
