= link_to content_tag(:span,"",class: "ui-icon ui-icon-triangle-1-w"), operations_client_path(@client)
%br
%h1= @client.fio unless @client.nil?
%br
%h2 Госпитализации
%br

-unless flash.empty?
  %p#notice= notice

-if @hospitalizations.count > 0
  %table#newspaper-a
    %tr
      %th Тип госпитализации
      %th Дата госпитализации
      %th
      %th

    - @hospitalizations.each do |hospitalization|
      %tr
        %td= hospitalization.hospitalization_type.name
        %td= l hospitalization.actual_date
        %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-pencil"),edit_client_hospitalization_path(@client,hospitalization)
        %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-minus") ,client_hospitalization_path(@client,hospitalization), :method=>:delete, :confirm => 'Are you sure?'
-else
  =render "clients/empty"

%br

= link_to t(:new_record), new_client_hospitalization_path(@client)
