%tr
  %td= l prof_inspection.actual_date
  %td= prof_inspection.user.short_fio_with_doctor_type
  %td= content_tag(:span,"",class: "ui-icon ui-icon-check") if  prof_inspection.stat_card
  %td= prof_inspection.conclusion
  %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-pencil"), edit_client_prof_inspection_path(@client,prof_inspection)
  %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-minus") , client_prof_inspection_path(@client,prof_inspection), :confirm => 'Are you sure?', :method => :delete
  %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-plusthick"), new_client_prof_inspection_diagnosis_path(@client,prof_inspection)
  = render :partial => "diagnoses",:collection => prof_inspection.diagnoses,:as => :diagnosis
