%tr
  %td -
  %td -
  %td -
  %td= content_tag(:span,"",class: "ui-icon ui-icon-check") if  diagnosis.stat_card
  %td= "#{diagnosis.mkb_type_code} #{diagnosis.mkb_type_name} #{diagnosis.first}"
  %td
  %td
