= simple_form_for [@client] do |form|
  -if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg

  = form.input :num_card,:label => "Номер карты"
  = form.input :snils,:label => "СНИЛС"
  = form.association :ins_company, :label => "Застрахован", :hint => "Страховая компания", :include_blank => false
  = form.input :ins_seria,:label => "Серия полиса"
  = form.input :ins_num,:label => "Номер полиса"
  %hr
  %br
  = form.input :surname,:label => "Фамилия"
  = form.input :name,:label => "Имя"
  = form.input :father_name,:label => "Отчество"
  = form.association :client_sex,:label => "Пол",:default => "М"
  = form.input :birth_date,:label => "Дата рождения",:start_year => Time.now.year-100,:end_year => Time.now.year+100,:use_month_numbers => true,:order => [:day,:month,:year]
  %hr
  %br
  = form.input :reg_address,:label => "Адрес регистрации"
  = form.input :real_address,:label => "Адрес местанахождения"
  = form.input :mobile_phone,:label => "Телефон сотовый"
  = form.input :home_phone,:label => "Телефон домашний"
  = form.input :work_phone,:label => "Телефон рабочий"
  = form.input :relative_phone,:label => "Телефоны родственников"
  = form.input :pasp_seria,:label => "Серия паспорта"
  = form.input :pasp_num,:label => "Номер паспорта"
  = form.input :work_place,:label => "Место работы"
  = form.input :work_position,:label => "Должность"
  = form.input :pensioner,:label => "Пенсионер ?"
  = form.input :benefit_refuse,:label => "Отказался от льгот ?"
  = form.input :drug_intolerance, :label => "Лекарственная непереносимость"
  = form.input :blood_group ,:label => "Группа крови" do
    =form.select :blood_group, [["I+",1],["I-",2],["II+",3],["II-",4],["III+",5],["III-",6],["VI+",7],["VI-",8]],:include_blank => false
  = form.input :special_note, :label => "Особые заметки"
  = form.input :attach_date,:label => "Дата прикрепления",:start_year => Time.now.year-100,:end_year => Time.now.year+100,:use_month_numbers => true,:order => [:day,:month,:year]
  = form.input :detach_date, :label => "Дата открепления",:start_year => Time.now.year-100,:end_year => Time.now.year+100,:use_month_numbers => true,:order => [:day,:month,:year]
  = form.input :notes, :label => "Примечания"
  = form.submit "Сохранить" 
