= simple_form_for @ref_lab_test_type do |f|
  -if @ref_lab_test_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ref_lab_test_type.errors.count, "error")} prohibited this ref_lab_test_type from being saved:"
      %ul
        - @ref_lab_test_type.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name,:label => "Тип анализа"
  = f.input :norm,:label => "Норма"
  = f.input :valid_period,:label => "Период действия (дни)"
  = f.input :clin_min_list,:label =>"Теги"
  = f.submit 'Сохранить'
