#san
  %p= "Справка о нуждаемости: #{l item.neediness_ref_date}"
  %p= "Санаторно-курортная карта: #{l item.sanatorium_card_fill_date}"
  %p= "Санаторий: #{item.sanatorium.name}"
  %p= "Период: #{l item.period_start} - #{l item.period_end}"

