= link_to content_tag(:span,"",class: "ui-icon ui-icon-triangle-1-w"), operations_client_path(@client)
%br
%h1= @client.fio unless @client.nil?
%br
%h2 Данные о санаторно-курортном лечении 
%br

-unless flash.empty?
  %p#notice= notice

-if @sanatorium_notes.count > 0

  %table#newspaper-a
    %tr
      %th Дата
      %th Справка о нуждаемости
      %th Санаторно-курортная карта
      %th
      %th

    - @sanatorium_notes.each do |sanatorium_note|
      %tr
        %td= l sanatorium_note.actual_date
        %td= sanatorium_note.neediness_reference
        %td= sanatorium_note.sanatorium_card
        %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-pencil"), edit_client_sanatorium_note_path(@client,sanatorium_note)
        %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-minus"),  client_sanatorium_note_path(@client,sanatorium_note), :confirm => 'Are you sure?', :method => :delete
-else
  =render "clients/empty"
%br

= link_to t(:new_record), new_client_sanatorium_note_path
