- present "ClientOperations" do |p|
  -p.prepare(@sanatorium_notes,"Данные о санаторно-курортном лечении",notice,@client)

  =p.client_header

  =p.table_or_empty do
    %table.zebra-striped
      %tr
        %th Справка о нуждаемости
        %th Санаторно-курортная карта
        %th Санаторий
        %th Период
        %th 
        %th 

      - @sanatorium_notes.each do |sanatorium_note|
        %tr
          %td= l sanatorium_note.neediness_ref_date
          %td= l sanatorium_note.sanatorium_card_fill_date
          %td= sanatorium_note.sanatorium.name
          %td= "#{l sanatorium_note.period_start} - #{l sanatorium_note.period_end}"

          %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-pencil"), edit_client_sanatorium_note_path(@client,sanatorium_note)
          %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-minus"),  client_sanatorium_note_path(@client,sanatorium_note), :confirm => 'Are you sure?', :method => :delete
%br
= link_to t(:new_record), new_client_sanatorium_note_path
