-present "Ref" do |p|
  -p.prepare(@ref_diagnostic_test_types,"Типы диагностики",notice)

  =p.header

  =p.table_or_empty do

    %table#newspaper-a
      %tr
        %th Наименование
        %th Период действия
        %th Теги
        %th
        %th

      - @ref_diagnostic_test_types.each do |ref_diagnostic_test_type|
        %tr
          %td= ref_diagnostic_test_type.name
          %td= ref_diagnostic_test_type.valid_period
          %td= ref_diagnostic_test_type.tag_list
          %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-pencil"),edit_ref_diagnostic_test_type_path(ref_diagnostic_test_type)
          %td= link_to content_tag(:span,"",class: "ui-icon ui-icon-minus") ,ref_diagnostic_test_type, :confirm => 'Are you sure?', :method => :delete if ref_diagnostic_test_type.can_be_deleted

%br


= link_to t(:new_record),new_ref_diagnostic_test_type_path

