%h3 Распределение диспансерной группы по нозологии
- report "DispByMkb" do |p|
  - p.prepare(sd,ed,years,sector_num)
  - p.fill

  %table.table.table-condensed.table-striped.table-bordered

    %thead
      %tr
        %th Группа
        %th= "Состояло на #{sd}"
        %th Взято на "Д" учет
        %th Снято с "Д" учета
        %th= "Состояло на #{ed}"
        %th= "Лучше"
        %th= "Хуже"
        %th= "Без изменений"

    %tbody


      -p.rows.each_pair do |group_name, in_group|
        %tr
          %td=group_name
          %td=in_group[0]
          %td=in_group[1]
          %td=in_group[2]
          %td=in_group[3]
          %td=in_group[4]
          %td=in_group[5]
          %td=in_group[6]

      %tr
        %td Всего 
