- present "DispInvalids" do |p|
  %table.condensed-table.zebra-striped

    %thead
      %tr
        %th Наименование
        -@by_years_and_benefit.each_pair do |year,items|
          %th{:colspan =>6}= year
        
      %tr
        %th
          -@by_years_and_benefit.each_pair do |year,items|
            -items.each do |b|
              %th{:colspan =>2}= b

      %tr
        %th 
          -@by_years_and_benefit.each_pair do |year,items|
            -items.each do |b|
              %th Абс
              %th %

      %tr
        %td 
          Состоит под диспансерным учетом на начало отчетного года
          -p.fill_observed_on_begin(@years,@benefits)
          -@by_years_and_benefit.each_pair do |year,items|
            -items.each do |b|
              %td= p.observed_on_begin_abs(year,b)
              %td= p.get_rel(p.observed_on_begin_abs(year,b), p.observed_on_begin_total(year))

      %tr
        %td
          Вновь взято на диспансерное наблюдение в отчетном году
          -p.fill_taken(@years,@benefits)
          -@by_years_and_benefit.each_pair do |year,items|
            -items.each do |b|
              %td= p.taken_abs(year,b)
              %td= p.get_rel(p.taken_abs(year,b), p.taken_total(year))

      %tr
        %td
          Снято с диспансерного наблюдения
          -p.fill_out(@years,@benefits)
          -@by_years_and_benefit.each_pair do |year,items|
            -items.each do |b|
              %td= p.out_abs(year,b)
              %td= p.get_rel(p.out_abs(year,b), p.out_total(year))
      %tr
        %td
          В том числе - выехало
          -p.fill_out_moved(@years,@benefits)
          -@by_years_and_benefit.each_pair do |year,items|
            -items.each do |b|
              %td= p.out_moved_abs(year,b)
              %td= p.get_rel(p.out_moved_abs(year,b), p.out_moved_total(year))
      %tr
        %td
          умерло
          -p.fill_out_died(@years,@benefits)
          -@by_years_and_benefit.each_pair do |year,items|
            -items.each do |b|
              %td= p.out_died_abs(year,b)
              %td= p.get_rel(p.out_died_abs(year,b), p.out_died_total(year))



