<html>
  <head>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <style type="text/css">

      body {
        padding-top: 60px;
        background-color: #eeeeee;
      }
  .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }
    </style>


  </head>

 <body>
 <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Госпиталь ветеранов</a>
          <ul class="nav">
            <li class="active"><%=link_to "На главную",root_path %></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>



            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Контроль</a>
              <ul class="dropdown-menu">
                <li><%=link_to "МСЭ календарь",mse_calendar_path %></li>
                <li><%=link_to "Отчеты",ask_date_rep_main_path %></li>
                <li class="divider"></li>
                <li><a href="#">Another link</a></li>
              </ul>
            </li>



          </ul>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
          
            <%= render :partial => "current_client", :locals => {:current_client => current_client} %>
           
          </div>

        <div class="row">

          <div class="span12">
            <%= yield %>
          </div>

          <div class="span4">
            <%= render "side" %>
          </div>

        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
