!!! XML
!!!
%html
  %head
    %title Госпиталь для ветеранов войн
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags 

%body
  #top
  #wrapper
    #header
      %h1
        %a{:href => "/", :title => "Go to homepage"} Госпиталь для ветеранов войн
      %p{:class => "title"} ГЛПУ ТО
      #header-in
        %p &hellip;the best solution
      %a{:href => "#skip-menu", :class => "hidden"} Skip menu
      %ul{:id => "menu"}
        %li
          %a{:href => "/", :class => "#{"active" if request.path=~/clients/}"} Пациенты
        %li  
          %a{:href => "/", :class => "#{"active" if request.path=~/dsdsd/}"} Отчеты
    .bar &nbsp
    %hr{:class => "noscreen"}
    #skip-menu
    .content
      .column-left
        .column-left-in
          = yield
      %hr{:class => "noscreen"}
      .column-right
        .column-right-in
          =render "side"
          .address
            %address
              Company name
              %br
              Street 1000/23
              %br
              500033 City name
              %br
              Tel.: 1234567890
              %br
              E-mail: info&#64; company.com
      .cleaner &nbsp;

      %hr{:class => "noscreen"}
    #footer
      %ul
        %li
          %a{:href => "/", :class => "active"}
          %a{:href => "/" }
          %a{:href => "/" }
      %p.cop
        Copyright &copy; 2008 
        %a{:href => "#"} Company name
        All Rights Reserved.

    %hr.noscreen
    %p.mantis-a
      %a{:href => "http://www.mantisatemplates.com/"} Mantis-a templates
      visit 
      %a{:id => "commercial-link", :href => "http://www.netmeter.eu", :title => "Free internet speed test"}
      %a{:href => "http://free-templates.ru/"} free templates
