!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Medical"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    = stylesheet_link_tag "application", :media => "all"
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"}Госпиталь ветеранов
          .container.nav-collapse
            %ul.nav
              %li= link_to "Link 1", "/path1"
              %li= link_to "Link 2", "/path2"
              %li= link_to "Link 3", "/path3"

            %ul{:class => "nav pills"}
              %li{:class => "dropdown", :id => "menu1"}
                %a{:class => "dropdown-toggle", "data-toggle" => "dropdown", :href => "#menu1"} 
                  Контроль
                  %b.caret
                %ul{:class => "dropdown-menu"}
                  %li
                    =link_to "МСЭ календарь",mse_calendar_path
                  %li
                    =link_to "Отчеты",ask_date_rep_main_path
                  .li{:class => "divider"}

            %form{:action => "/clients", :class => "navbar-search pull-left"}
              %input{:name => "search", :id => "client_search", :class => "search-query span3", :type => "text", :placeholder => "Фамилия"}
              %button{:class => "btn-primary", :type => "submit"}
                Искать


    .container


      .content

        .page-header
          =render :partial => "current_client", :locals => {:current_client => current_client}

        .row
          .span9
            = yield
          .span1 &nbsp;
          .span3
            .well.sidebar-nav
              %h3 Меню
              =render "side"  
      %footer
        %p &copy; Company 2012
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
